html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #f8f8f8;
  color: #303438;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #1F0C7B;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

h1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 2.5em;
  font-family: "Merriweather",serif;
}
div + h1 {
  margin-top: 1em;
}

.header {
  width: 100%;
  display: block;
  background-color: #303438;
  color: #f8f8f8;
}
  .header > a {
    padding: 1.3em;
    color: white;
    display: inline-block;
    font-size: 1.1em;
  }
  .header > a:hover {
    text-decoration: none;
  }
  .header i {
    padding-right: 0.6em;
  }
.nav-secondary {
  width: 100%;
  display: block;
  border-bottom: 1px solid #c9c9c9;
}
  .nav-secondary > a {
    display: inline-block;
    font-weight: 700;
    padding: 1em;
    padding-left: 1.3em;
  }

.url-form {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 65%;
  max-width: 1300px;
}
  .url-form > h2 {
    margin-bottom: 0.3em;
  }
  .url-form > button, .url-form > input {
    vertical-align: baseline;
  }
  .url-form > button {
    color: #1F0C7B;
  }
  .url-form > p {
    clear: both;
    font-size: 0.8em;
  }
button {
  margin: 0.125em 0.125em 0 0;
  float: right;
  background: none;
  border: none;
  padding: 0 4px;
  font-size: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}
  button:focus {
    outline: 1px dotted;
  }
  button:hover {
    opacity: 0.7;
  }
input[type="text"] {
  display: block;
  margin: 0;
  width: 92%;
  font: 18px "Open Sans", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  float: left;
  color: #303438;
}
  input[type="text"]:focus {
    outline: none;
    border: solid 5px #969696;
  }
input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
  input[type="file"] + label {
    font-size: 1.4em;
    font-weight: 700;
    color: #f8f8f8;
    background-color: #1F0C7B;
    display: inline-block;
    cursor: pointer;
    padding: 0.7em;
    transition: opacity 0.3s ease-out, outline 0.3s ease-out;
  }
  input[type="file"]:focus + label,
  input[type="file"] + label:hover {
    opacity: 0.7;
    outline: 1px dotted;
    outline: -webkit-focus-ring-color auto 3px;
  }
.file-upload {
  text-align: center;
  display: block;
  margin-top: 1.5em;
}
  .file-upload > label,
  .file-upload > h2,
  .file-upload > input {
    display: inline-block;
  }
  .file-upload > h2 {
    margin: 0 7px;
  }
  .file-upload i {
    padding-right: 0.4em;
  }

.content-section {
  text-align: center;
  width: 100%;
  background-color: #DCE4E7;
  padding: 4em;
  margin: 3em 0;
}
  .content-section > h2 {
    margin-bottom: 3em;
    font-size: 1.8em;
  }
  .content-section > p {
    width: 60%;
    margin: 2em auto;
    font-size: 1.5em;
    text-align: justify;
  }
.demo-imgs {
  margin: 0 auto;
}
  .demo-imgs > img {
    height: 17em;
    max-width: 45%;
    border-radius: 0.7em;
    display: inline-block;
    border: 1px solid #F2F2F2;
  }
  .demo-imgs > img + img {
    margin-left: 2em;
  }

.form-results {
  margin: 1em;
  margin-bottom: 4em;
}
  .form-results h2 {
    margin-bottom: 0.2em;
  }
  .form-results h3 {
    margin-top: 0;
  }
  .form-results:after {
    content: '';
    display: block;
    clear: both;
  }

#forms-list > li {
  list-style-type: none;
  background-color: #DCE4E7;
  margin: 5px;
  float: left;
  width: 31%;
}
#forms-list > li span:first-child {
  display: block;
  background-color: #efefef;
  width: 100%;
  height: 8em;
  line-height: 8em;
  text-align: center;
  font-size: 2em;
  font-family: "Merriweather",serif;
  color: #303438;
}
#forms-list > li span + span {
  padding: 0.7em;
  display: block;
}
  #forms-list > li > a:hover {
    text-decoration: none;
    outline: -webkit-focus-ring-color auto 3px;
  }
  #forms-list > li > a:hover > span + span {
    text-decoration: underline;
  }

.screen-reader {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
